@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.shopping__cart *,
.shopping__cart *::before,
.shopping__cart *::after {
  box-sizing: border-box;
}
.shopping__cart body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.shopping__cart #app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.shopping__cart h1 {
  margin: 0 0 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.shopping__cart .grid {
  display: flex;
}
.shopping__cart .grid .col-sx,
.shopping__cart .grid .col-dx {
  width: 100%;
  max-width: 320px;
}
.shopping__cart .products {
  padding: 0 1rem 0 0;
}
.shopping__cart .products h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #555;
}
.shopping__cart .products .products-list {
  margin: 0.5rem 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.shopping__cart .products .products-list .product {
  margin: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}
.shopping__cart .products .products-list .product:nth-child(odd) {
  padding-right: 1rem;
}
.shopping__cart .products .products-list .product:nth-child(even) {
  padding-left: 1rem;
}
.shopping__cart .products .products-list .product .box {
  margin-bottom: 2.15rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}
.shopping__cart .products .products-list .product .box:nth-child(even) {
  margin-left: 0.5rem;
}
.shopping__cart .products .products-list .product .box .image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 160px;
  /* background: rgb(255, 176, 176); */
  margin-bottom: 1rem;
}
.shopping__cart .products .products-list .product .box .image img {
  max-width: 100%;
  width: 100px;
}
.shopping__cart .products .products-list .product .box .title {
  margin-top: 0;
}
.shopping__cart .products .products-list .product .box button {
  padding: 0.35rem 0.7rem 0.28rem;
  border: 0;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 18px 10px -10px rgba(0, 0, 0, 0.25);
  transition: background 0.4s, box-shadow 0.4s;
  cursor: pointer;
  outline: none;
}
.shopping__cart .products .products-list .product .box button:hover,
.shopping__cart .products .products-list .product .box button:focus {
  background: #000;
  box-shadow: 0 18px 10px -10px rgba(0, 0, 0, 0);
}
.shopping__cart .cart {
  padding: 0 0 0 1rem;
}
.shopping__cart .cart h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
  text-align: right;
  border-bottom: 1px solid #555;
}
.shopping__cart .cart .cart-list {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}
.shopping__cart .cart .cart-list tr:nth-child(even) td {
  background: #eee;
}
.shopping__cart .cart .cart-list td,
.shopping__cart .cart .cart-list th {
  padding: 1rem;
}
.shopping__cart .cart .cart-list td h3,
.shopping__cart .cart .cart-list th h3,
.shopping__cart .cart .cart-list td h4,
.shopping__cart .cart .cart-list th h4 {
  margin: 0;
}
.shopping__cart .cart .cart-list th {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: left;
}
.shopping__cart .cart .cart-list th.head-quantity {
  text-align: center;
}
.shopping__cart .cart .cart-list th.head-price,
.shopping__cart .cart .cart-list th:last-of-type {
  text-align: right;
}
.shopping__cart .cart .cart-list th .total-title {
  text-align: right;
}
.shopping__cart .cart .cart-list td {
  background: #f9f9f9;
}
.shopping__cart .cart .cart-list td .title {
  font-weight: 400;
  font-size: 0.9em;
}
.shopping__cart .cart .cart-list td .price {
  text-align: right;
}
.shopping__cart .cart .cart-list td .quantity {
  position: relative;
  padding: 0 1rem;
  text-align: center;
}
.shopping__cart .cart .cart-list td .quantity .qty-handler {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.shopping__cart .cart .cart-list td .quantity .qty-handler span {
  width: 1rem;
  height: 1rem;
  line-height: 16px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background 0.4s;
  cursor: pointer;
}
.shopping__cart .cart .cart-list td .quantity .qty-handler span:hover {
  background: #000;
}
.shopping__cart .cart .cart-list td .quantity .qty-handler span:last-of-type {
  line-height: 13px;
}
.shopping__cart .cart .cart-list td .total {
  text-align: right;
}
.shopping__cart .cart .draw {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 4rem auto 2rem;
  background: #eaeaea;
  overflow: hidden;
}
.shopping__cart .cart .draw .cactus {
  z-index: 1;
  position: absolute;
  width: 1.2rem;
  height: 10rem;
  border-radius: 7px 7px 0 0;
  background: currentColor;
}
.shopping__cart .cart .draw .cactus::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -32px;
  width: 1.2rem;
  height: 2rem;
  transform: skew(40deg);
  transform-origin: top center;
  border-radius: 0 0 6px 6px;
  animation: lightAngle 8s linear infinite alternate;
}
.shopping__cart .cart .draw .cactus:nth-child(1) {
  bottom: 0;
  left: 50%;
  transform: transalteX(-50%);
  color: #aaa;
}
.shopping__cart .cart .draw .cactus:nth-child(2) {
  bottom: 4.5rem;
  left: 2rem;
  transform: scale(0.4);
  color: #dadada;
}
.shopping__cart .cart .draw .cactus:nth-child(2)::before {
  background: #a7a7a7;
}
.shopping__cart .cart .draw .cactus:nth-child(3) {
  bottom: 2.5rem;
  right: 2rem;
  transform: scale(0.6);
  color: #ccc;
}
.shopping__cart .cart .draw .cactus:nth-child(3)::before {
  background: #999;
}
.shopping__cart .cart .draw .cactus .arm {
  position: absolute;
  width: 3rem;
  height: 1rem;
  background: currentColor;
}
.shopping__cart .cart .draw .cactus .arm::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 1rem;
  height: 3rem;
  background: currentColor;
  border-radius: 6px 6px 0 0;
}
.shopping__cart .cart .draw .cactus .arm:first-of-type {
  top: 35%;
}
.shopping__cart .cart .draw .cactus .arm:last-of-type {
  top: 55%;
  left: -1.8rem;
}
.shopping__cart .cart .draw .cactus .arm:last-of-type::before {
  right: auto;
  left: 0;
}
.shopping__cart .cart .draw .sky {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #fcfcfc;
  overflow: hidden;
}
.shopping__cart .cart .draw .sky .montain {
  position: absolute;
  left: 42%;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  background: #d8d8d8;
  transform: rotate(45deg);
  border-radius: 8px 0 0 0;
}
.shopping__cart .cart .draw .sky .montain.two {
  left: 27%;
  transform: rotate(45deg) scale(0.6);
  background: #d8d8d8;
}
.shopping__cart .cart .draw .sky .sun {
  position: absolute;
  top: 20px;
  left: -2rem;
  width: 2rem;
  height: 2rem;
  background: #d4d4d4;
  border-radius: 50%;
  animation: sunWalk 8s linear infinite alternate;
}
.shopping__cart .cart .no-items-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}
@keyframes sunWalk {
  from {
    left: -2rem;
  }
  to {
    left: 100%;
  }
}
@keyframes lightAngle {
  0%,
  20% {
    transform: skew(40deg);
  }
  80%,
  100% {
    transform: skew(-40deg);
  }
}
@media (max-width: 768px) {
  .shopping__cart body {
    padding: 3rem 1rem;
  }
  .shopping__cart .grid {
    flex-direction: column;
  }
  .shopping__cart .grid .col-sx,
  .shopping__cart .grid .col-dx {
    width: 100%;
  }
  .shopping__cart .grid .products,
  .shopping__cart .grid .cart {
    padding: 0;
  }
  .shopping__cart .grid .products {
    padding-bottom: 2rem;
  }
  .shopping__cart .grid .cart h2 {
    text-align: left;
  }
}
.shopping__cart {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
