.mainCartR {
  // max-width: 400px;
  // min-width: 400px;
  padding: 32px 24px;
  background-color: #ffffdb;
  //   border: 1px solid rgb(112, 112, 112);
  min-height: 89vh;
  .sec {
    padding: 15px 0;
  }
  .top {
    padding-top: 0;
    display: flex;
    // align-items:center;
    // justify-content: center;
    flex-direction: column;
    form {
      // height: 30px;
    }
    p {
      font-size: 20px;
    }
  }

  hr {
    margin: 0;
    margin-bottom: 15px;
  }
  button {
    max-width: 100%;
    &:hover {
      background-color: rgb(0, 0, 0) !important;
      color: #fff;
    }
    background-color: #fff;
  }
  input {
    max-width: 100%;
  }
  .address {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      border-bottom: 1px solid rgb(92, 92, 92);
      padding: 10px 5px;
      margin-bottom: 10px;
      background-color: transparent;
    }
    button {
      transition: 0.3s;
      margin-top: 10px;
      border: none;
      padding: 10px 5px;
      border-radius: 5px;
      border: 1px solid rgb(92, 92, 92);
    }
  }
  .prices {
    padding: 40px 0 15px;
  }
  .total {
    padding-bottom: 30px;
  }
  .address {
    button {
      margin-top: 20px;
    }
  }
  .errorCode {
    //   border: 1px solid rgb(255, 68, 68);
    background-color: rgb(255, 88, 88) !important;
  }
  .winCode {
    background-color: rgb(102, 255, 148) !important;
  }
  .errorP {
    color: rgb(255, 88, 88);
    padding: 10px 0;
  }
  .winP {
    color: rgb(102, 255, 148);
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .mainCartR {
    margin: 0 auto;
    max-width: 100%;
    min-width: 300px;
  }
}
