.App {
  text-align: center;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button,
textarea,
input,
a {
  outline: none;
}
body {
  font-weight: 400;
  background-color: #f1f7f9;
  font-family: "Roboto";
  /* max-width: 1920px;
  margin: 0 auto; */
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.small_menu_sh_tx {
  width: 40px;
  height: 10px;
  font-size: 12px;
}
.app__main {
  min-height: 95vh;
  padding-top: 64px;
}
.btn {
  text-decoration: none;
}
.flexCenter {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.btn_sort_hp {
  margin-top: 24px;
}
